{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Our Elective Members</h2>
        <hr class="divider" />
    </div>

    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-4"> 
    <div class="col-lg-4 col-sm-6 mb-4"> 
        <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Abhay.jpeg' %}" title="President">
            <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Abhay.jpeg' %}" alt="Abhay Krishnan U S - President" />
            <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Abhay Krishnan U S</div>
                <div class="project-name">President</div>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Sagar.jpg' %}" title="Secretary">
            <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Sagar.jpg' %}" alt="Sagar S - Secretary" />
            <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Sagar S</div>
                <div class="project-name">Secretary</div>
            </div>
        </a>
    </div>
    
    <div class="col-lg-4 col-sm-6 mb-4">
        <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Karthik.jpeg' %}" title="Vice President">
            <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Karthik.jpeg' %}" alt="Karthik S - Treasurer" />
            <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Karthik S</div>
                <div class="project-name">Treasurer</div>
            </div>
        </a>
    </div>
</div>



<div class="row g-4"> 
                <div class="col-lg-3 col-sm-4 mb-4"> 
                    <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Aswathag.jpg' %}" title="Vice President">
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Aswathag.jpg' %}" alt="Aswath A G - Vice President" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Aswath A G</div>
                            <div class="project-name">Vice President</div>
                        </div>
                    </a>
                </div>
<div class="col-lg-3 col-sm-4 mb-4">
                    <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Gouri.jpg' %}" title="Joint Secretary">
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Gouri.jpg' %}" alt="Gouri S - Joint Secretary" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Gouri S</div>
                            <div class="project-name">Joint Secretary</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 mb-4">
                    <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Ajal.jpg' %}" title="Treasurer">
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Ajal.jpg' %}" alt="Ajal Gopan - Treasurer" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Ajal Gopan</div>
                            <div class="project-name">Executive Member (Social Media Admin)</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-4 mb-4">
                    <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Amitha.jpg' %}" title="Executive Member">
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Amitha.jpg' %}" alt="Amitha S L - Executive Member" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Amitha S L</div>
                            <div class="project-name">Executive Member (Website Admin)</div>
                        </div>
                    </a>
                </div>
                
               
            </div>

            <div class="row g-4"> 
                <div class="col-lg-3 col-sm-4 mb-4"> 
                    <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Sreekesh.jpg' %}" title="Executive Member">
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Sreekesh.jpg' %}" alt="Sreekesh S Kumar - Executive Member" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Sreekesh S Kumar</div>
                            <div class="project-name">Executive Member</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-4 mb-4">
                    <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Madhav.jpg' %}" title="Executive Member">
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Madhav.jpg' %}" alt="Madhav M - Executive Member" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Madhav M</div>
                            <div class="project-name">Executive Member</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-4 mb-4">
                    <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Gopika.jpg' %}" title="Executive Member">
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Gopika.jpg' %}" alt="Gopika Krishnan - Executive Member" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Gopika Krishnan</div>
                            <div class="project-name">Executive Member</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 mb-4">
                    <a class="portfolio-box" href="{% static 'assets/img/portfolio/thumbnails/Deepak.jpg' %}" title="Executive Member">
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/Deepak.jpg' %}" alt="Deepak V - Executive Member" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Deepak V</div>
                            <div class="project-name">Executive Member</div>
                        </div>
                    </a>
                </div>
               
            </div>

            
        </div>
    </div>
</section>

{% endblock %}
