{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
<section class="page-section" id="year-range">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">{{ title }} Gallery</h2>
        <hr class="divider" />
        
        <div class="row">
            {% for year in year_ranges %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ year.date__year }} - {{ year.date__year|add:1 }}</h5>
                        <a href="{% url 'gallery_images' title subcategory year.date__year %}" class="btn btn-primary">View Images</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
