{% extends 'base.html' %}

{% block title %}Gallery - {{ title }}{% endblock %}

{% block content %}
<section class="page-section" id="year-range">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">{{ title }} Gallery Years</h2>
        <hr class="divider" />
        
        <div class="row">
            {% for year in year_ranges %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ year.date__year }}</h5>
                        <a href="{% url 'gallery_subcategories' title year.date__year %}" class="btn btn-primary">View Subcategories</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
