{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block title %}Home - Triloka Club{% endblock %}

{% block content %}
<!-- Banner Section -->
 <div style="background-color: rgb(216, 199, 172);">
<div class="banner">
    <img src="{% static 'images/WEB BANNER FINAL_page-00012.jpg' %}" alt="Banner Image" class="banner-img" style="width: 100vw; /* Full viewport width */
    height: 600px; /* Fixed height */
    position: relative ; /* Keeps banner fixed */
    top: 0;
    left: 0;
   ">
</div>

<!-- Cards Section -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Our Executive Members</h2>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Abhay.jpeg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Abhay Krishnan U S</h5>
                    <p class="card-text">President</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Karthik.jpeg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Karthik S</h5>
                    <p class="card-text">Vice President</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Sagar.jpg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Sagar S</h5>
                    <p class="card-text">Secretary</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Gouri.jpg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Gouri S</h5>
                    <p class="card-text">Joint Secretary</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Ajal.jpg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Ajal Gopan</h5>
                    <p class="card-text">Treasurer</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Amitha.jpg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Amitha S L</h5>
                    <p class="card-text">Executive Member</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 7 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Deepak.jpg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Deepak V</h5>
                    <p class="card-text">Executive Member</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 8 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Gopika.jpg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Gopika Krishnan</h5>
                    <p class="card-text">Executive Member</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 9 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Madhav.jpg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Madhav M</h5>
                    <p class="card-text">Executive Member</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 10 -->
        <div class="col-sm-6 col-md-3 mb-4 d-flex">
            <div class="card h-100">
                <img src="{% static 'images/Sreekesh.jpeg' %}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Sreekesh S Kumar</h5>
                    <p class="card-text">Executive Member</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        
    </div>
</div>
<br><br><br>
</div>
{% endblock %}
